<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OD</title>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<th:block layout:fragment="content"></th:block>
<footer class="py-3 mt-auto h-50 bg-secondary text-white">
  <div class="p-3">
    <div>contact : scc00057@gmail.com</div>
    <div>github : https://github.com/yun970/okmCompare</div>
  </div>
</footer>
</body>
</html>