<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div>
    <form th:action="@{/user/signup}" th:object="${userDTO}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>

      <div class="">
        <label for="email">이메일</label>
        <input type="text" id="email" th:field="*{email}" class="">
      </div>
      <div class="">
        <label for="">비밀번호</label>
        <input type="password" id="password" th:field="*{password1}" class="">
      </div>
      <div class="">
        <label for="">비밀번호 확인</label>
        <input type="password" th:field="*{password2}" class="">
      </div>
      <button type="submit" class="">회원가입</button>
    </form>
  </div>
</body>
</html>